<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="groupingMethod">
    <test name="groupingTest">

        <groups>
            <run>
                <include name="regression"></include>
            </run>
        </groups>
        <classes>
            <class name="TestNgConcept.groupingMethod.LogInTest"></class>
            <class name="TestNgConcept.groupingMethod.SingUpTest"></class>
            <class name="TestNgConcept.groupingMethod.PaymentsTest"></class>
        </classes>
    </test>
</suite>